.box {
    background-color: lightskyblue;
    height: 90vh;
    width: 90vw;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

label {
    text-shadow: 1px 1px 2px slategrey;
    position: absolute;
    right: 0.5em;
    top: 1em;
    color: white;
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    user-select: none;
}


/* Default State */

.infobox {
    color-scheme: dark;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    backdrop-filter: blur(6px);
    width: 400px;
    max-height: 80vh;
    font-size: 1.2em;
    color: white;
    padding: 1em;
    padding-top: 3em;
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    border-bottom-left-radius: 0.5em;
    z-index: 1;
}

ul {
    list-style-position: outside;
}

li {
    margin: 1em;
}


/* Toggled State */

.hidden {
    display: none;
}

.holder {
    width: 90%;
    height: 34%;
    margin: auto;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.number {
    background-color: lightyellow;
    border-radius: 0.05em;
    width: 10%;
    font-size: 8vw;
    display: flex;
    align-items: center;
    /* Vertical center alignment */
    justify-content: center;
    /* Horizontal center alignment */
    text-align: center;
    transition-timing-function: ease;
    transition-duration: 50ms;
    font-family: 'Rockwell', 'Arvo', Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
    user-select: none;
}

.flipped {
    color: transparent;
    transform: translate(0, 10%);
}

.roller {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: green;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    min-width: 8vw;
    min-height: 5vw;
    letter-spacing: 0.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:active {
    transform: translate(0, 1%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#reset {
    background-color: crimson;
}


/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v98/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

img {
    max-width: 16vw;
    max-height: 16vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 0.6em;
}

.shake {
    animation-name: shake-bounce;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

@keyframes shake-bounce {
    0%,
    100% {
        transform: translateY(0) rotate(8deg);
    }
    50% {
        transform: translateY(-20px) rotate(-8deg);
    }
    60% {
        transform: translateY(-10px);
    }
}

.mdi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}